body {
  font-family: 'BR Firma', sans-serif;
}

.nav-item .indicator {
  background: #ff9900!important;
  border-radius: 50%;
}

.create-sub {
  margin-top: -39px;
}

#jvm-markers-group {
  display: none;
}

i.bi.bi-eye-fill{
  color: #019d1d;
}

i.bi.bi-pencil-square{
  color: #ff9900;
}

i.bi.bi-trash-fill{
  color: red;
}