body {
  font-family: 'BR Firma', sans-serif;
}

.nav-item .indicator {
  background: #ff9900!important;
  border-radius: 50%;
}

.create-sub {
  margin-top: -39px;
}

#jvm-markers-group {
  display: none;
}

i.bi.bi-eye-fill{
  color: #019d1d;
}

i.bi.bi-pencil-square{
  color: #ff9900;
}

i.bi.bi-trash-fill{
  color: red;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 600px;
}

.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
/* .edit {
  margin-top: -50px;
} */

.edit p {
  color: #374935;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.edit h2 {
  color: #374935;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

.dropdown-toggle::after {
  display: none;
}

.modal-content {
  padding: 20px;
}